In [1]:
import pandas as pd

In [3]:
filename = 'Lending-Company-Saving.csv'
my_data = pd.read_csv(filename)
my_data.head()

   LoanID StringID    Product CustomerGender    Location    Region  TotalPrice
0       1     id_1  Product B           Male  Location 2  Region 2     16600.0
1       2     id_2  Product B           Male  Location 3       NaN     16600.0
2       3     id_3  Product C         Female  Location 5  Region 5     15600.0
3       4     id_4  Product B           Male  Location 6  Region 1     16600.0
4       5     id_5  Product D         Female  Location 7  Region 2     20250.0

In [4]:
my_data.to_csv('my_csv_file.csv')

In [5]:
my_data.to_json('my_json_file.json')

In [6]:
my_data.to_excel('my_excel_file.xlsx')

In [7]:
my_data.to_excel('my_excel_file.xlsx', index = False)